h1 {
  font-size: 2.5rem;
  font-family: sans-serif;
  margin-top: 15rem;
  margin-left: 20rem;
}

h2 {
  font-size: 1rem;
  font-family: sans-serif;
  padding-top: 7rem;
  margin-left: 6rem;
}

.logo {
  width: 14rem;
  margin: 4rem;
}

nav {
  height: 580px;
  background-color: #cec9c8;
}

nav ul {
  float: right;
  padding-right: 2rem;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
  margin: 2rem;
  padding-top: 2rem;
  font-size: 0.9rem;
  font-family: sans-serif;
}

.search {
  width: 1.8rem;
  float: right;
  margin-top: 4.5rem;
}

.icons {
  float: right;
  margin-top: 3rem;
  margin-right: 10rem;
  width: 17%;
}

.featured {
  width: 85%;
  margin: 3rem;
  align-items: center;
}

.video {
  width: 40%;
}

.vendor {
  width: 33%;
  margin-left: 2rem;
}

.instagram {
  display: flex;
  margin-left: 6.5rem;
}

.insta {
  width: 20%;
  margin: 0.7rem;
}

.event-button {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  background-color: white;
  float: right;
}

.vendor-button {
  font-size: 1rem;
  padding: 0.4rem 1.5rem;
  background-color: white;
  float: right;
}

.insta-button {
  font-size: 1rem;
  color: white;
  margin-top: 5rem;
  margin-left: 21.5rem;
  padding: 1rem 3rem;
  background-color: black;
}

.footer {
  margin-top: 6rem;
  height: 300px;
  background-color: #cec9c8;
}

.signup {
  margin-left: 6rem;
}

.footer ul {
  float: right;
  margin-right: 8rem;
  display: block;
  font-family: sans-serif;
}

.footer ul li {
  display: inline-block;
  padding: 1rem;
}

.footer ul li small {
  display: block;
}
