h1 {
  font-size: 2.5rem;
  font-family: sans-serif;
  margin-top: 10rem;
  margin-left: 20rem;
}

h2 {
  font-size: 1rem;
  font-family: sans-serif;
  padding-top: 7rem;
  margin-left: 6rem;
}

.logo {
  width: 14rem;
  margin: 4rem;
}

header {
  height: 560px;
  background-color: #cec9c8;
  display: flex;
  align-items: flex-start;
}

.nav {
  display: flex;
  align-items: flex-start;
}

.nav ul {
  margin-left: 16rem;
}

.nav ul li {
  display: inline-block;
  text-decoration: none;
  padding-left: 2rem;
  padding-top: 3.5rem;
  font-size: 0.9rem;
  font-family: sans-serif;

  a {
    text-decoration: none;
  }
}

.search {
  width: 1.8rem;
  margin-top: 4rem;
  padding-left: 2rem;
}

.icons {
  float: right;
  margin-top: 3rem;
  margin-right: 5rem;
  width: 17%;
}

.container1 {
  position: relative;
}

.featured {
  width: 85%;
  margin: 3rem;
  padding-left: 3rem;
}

.event-button {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  background-color: white;
  position: absolute;
  margin: -17rem;
  margin-top: 25rem;
  border-color: black;
}

.container2 {
  position: relative;
  width: 1420px;
}

.video {
  width: 40%;
  margin-left: 6rem;
}

.vendor {
  width: 33%;
  margin-left: 2rem;
}

.vendor-button {
  font-size: 1rem;
  padding: 0.4rem 1.5rem;
  background-color: white;
  position: absolute;
  margin: -14rem;
  margin-top: 17rem;
  border-color: black;
}

.instagram {
  margin-left: 9.5rem;
  align-items: flex-start;
}

.insta {
  width: 20%;
  margin: 0.7rem;
}

.insta-button {
  font-size: 1rem;
  color: white;
  margin-top: 5rem;
  margin-left: 21.5rem;
  padding: 1rem 3rem;
  background-color: black;
  border: none;
}

.footer {
  margin-top: 6rem;
  height: 300px;
  background-color: #cec9c8;
  display: flex;
  align-items: flex-start;
}

.newsletter {
  display: inline-block;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: italic;
  padding: 0.4rem 1.2rem;
  margin-left: 6rem;
  color: black;
  border: none;
  border-radius: 7px;
}

.signup {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 7px;
}

.footer ul {
  font-family: sans-serif;
  margin-top: 8rem;
  margin-left: 30rem;
}

.footer ul li {
  display: inline-block;
  padding: 1rem;
}

.footer ul li small {
  display: block;
  margin-top: 0.5rem;
}
